<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="MsmqBindingNonTransactionalNoSecurity" exactlyOnce="false">
          <security mode="None"/>
        </binding>
        <binding name="MsmqBindingNonTransactionalTransportSecurity" exactlyOnce="false">
          <security mode="Transport"/>
        </binding>
        <binding name="MsmqBindingTransactionalTransportSecurity" exactlyOnce="true">
          <security mode="Transport"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    <client>
      <endpoint name="MsmqEnterpriseService"
                address="net.msmq://localhost/private/MsmqEnterpriseService/MsmqEnterpriseService.svc"
                binding="netMsmqBinding" bindingConfiguration="MsmqBindingTransactionalTransportSecurity"
                contract="msmqEnterpriseContract.ImsmqEnterpriseContract" />
    </client>
  </system.serviceModel>
</configuration>